body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(115, 2, 2);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 

.logo img {
    width: 130px;
    height: 120px;
}

nav {
    display: flex;
}

nav a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

/* NAVIGATIONS CSS*/
header nav {
    margin-left: 30px;  
}

header nav a {
    margin-left: 40px;  
}

header .login-dropdown {
    margin-left: 30px;  
}

header .dropdown-content {
    padding: 30px;
    background-color: rgb(115, 2, 2);
}
button.dropbtn {
    margin-right: 140px;
}

/* DROPDOWN CSS */
.dropbtn {
    background-color: rgb(115, 2, 2);
    color: rgba(255, 255, 255, 0.985);
    padding: 0px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(115, 2, 2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(245, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(146, 144, 144, 0.348);
}

.login-dropdown:hover .dropdown-content {
    display: block;
}


/* TITLE CSS */
.title{
    color: #F2C409;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}


section {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.navbar {
  height: 100vh;
  width: 350px;
  background-color: #AAAAAA;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.navbar a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(115, 2, 2);
}

.navbar a.active {
  background-color:rgb(255, 255, 255);
  color: rgb(115, 2, 2);
}

.content {
  width: 80%;
  margin: 20px auto;
}

.title h1 {
  margin: 0;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 20px;
}

.my-table th {
  background-color: rgb(115, 2, 2);
  color: #F2C409;
  font-size: 46px;
  text-align: center;
}

.my-table td {
  font-size: 34px;
  text-align: center;
}

.my-table tbody tr:hover {
  background-color: #F2C409;
}
